.App {
  text-align: center;
}

.nav {
  width: 100vw;
  height: 70px;
  box-shadow: 0px 10px 45px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bodyArea {
  padding:20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
}

.displayArea {
  width: 75vw;
  height: 100vh;
  padding-left: 80px;
}

.artwork {
  margin-top: 50px;
  width: 700px;
  height: 600px; 
  padding: 20px;
}


/* .addToCart span {

  background-image: url('./images/addToCartImg.png');
  width: 200px;
  height: 200px;
} */

.cartArea {
  margin-top: 100px;
  width: 25vw;
  height: 100vh;
 
  
}

/* .cartTitle {
 margin-top: 0px;
}

.buyArea {
margin-bottom: 100px;
display: flex;
flex-direction: column;

} */


